name: Release Checker

on:
  pull_request_target:
    paths: ["version.json"]
    types: [ opened, synchronize, reopened, labeled, unlabeled ]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release-check:
    uses: ipdxco/unified-github-workflows/.github/workflows/release-check.yml@v1.0
    with:
      sources: '["version.json"]'
  upload-release-assets:
    needs: [release-check]
    if: fromJSON(needs.release-check.outputs.json)['version.json']
    name: Publish the static library (${{ matrix.runner }})
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner: ['ubuntu-latest', ['self-hosted', 'linux', 'arm64', 'xlarge'], 'macos-latest']
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/upload-release-assets
        with:
          id: ${{ fromJSON(needs.release-check.outputs.json)['version.json'].id }}
          force: true
