name: Upload Release Assets

on:
  workflow_dispatch:
    inputs:
      id:
        description: The release ID (e.g. 246546694)
        required: true
      ref:
        description: The release ref (e.g. refs/tags/v1.34.0)
        required: true
      force:
        type: boolean
        description: Whether the assets should be overwritten if they already exist
        required: false
        default: false

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  upload-release-assets:
    name: Publish the static library (${{ matrix.runner }})
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner: ['ubuntu-latest', ['self-hosted', 'linux', 'arm64', 'xlarge'], 'macos-latest']
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/upload-release-assets
        with:
          id: ${{ inputs.id }}
          ref: ${{ inputs.ref }}
          force: ${{ inputs.force }}
